{% extends 'base.html' %}

{% block app %}
    <input type="hidden" value="{{id}}" hidden id="uid">
    <div class="tales">
        <h1><span class="detail">Aluno</span> <span class="value__tales"></span></h1>
        <br><div class="status"></div>
    </div>
    <div class="content">
        <table >
            <tr>
                <td class="detail">Nome</td>
                <td class="iftable infos__nome"></td>
            </tr>
            {% if admin %}
                <tr>
                    <td class="detail">CPF</td>
                    <td class="iftable infos__cpf"></td>
                </tr>
            {% endif %}
            <tr>
                <td class="detail">Data Nascimento</td>
                <td class="iftable infos__datanasc"></td>
            </tr>
            {% if admin %}
                <tr>
                    <td class="detail">CEP</td>
                    <td class="iftable infos__cep"></td>
                </tr>
                <tr>
                    <td class="detail">Logradouro</td>
                    <td class="iftable infos__logra"></td>
                </tr>
                <tr>
                    <td class="detail">Numero</td>
                    <td class="iftable infos__num"></td>
                </tr>
                <tr>
                    <td class="detail">Bairro</td>
                    <td class="iftable infos__bairro"></td>
                </tr>
            {% endif %}
            <tr>
                <td class="detail">Cidade</td>
                <td class="iftable infos__cidade"></td>
            </tr>
            <tr>
                <td class="detail">UF</td>
                <td class="iftable infos__uf"></td>
            </tr>
        </table>
        <br>
        {% if admin %}
            <div class="edit_delet" style="display:none">
                <button class="main__button" style="background-color: var(--detail);"  type="button" id="edit">
                    Editar
                </button>            
                <button class="main__button" style="background-color: var(--fail);" type="button" id="delete">
                    Deletar
                </button>
            </div>
            <div class="cancel_save" style="display:none">
                <button class="main__button" style="background-color: var(--detail);" type="button" id="cancel">
                    Cancelar
                </button>            
                <button class="main__button" style="background-color: var(--third);" type="button" id="salve">
                    Salvar
                </button>
            </div>
        {% endif %}
    </div>
{% endblock app %}

{% block script %}
    <script src="/static/js/aluno/aluno_detalhes.js"></script>
{% endblock script %}
