{% extends 'base.html' %}

{% block app %}
    <div class="tales">
        <h1>Alunos</h1><br>
        <div class="input__hero">
            <select class="input" onclick="buscarelemento(event)">
                <option value="1" selected>Alunos</option>
                <option value="0">Responsavel</option>
            </select>
            <label for="user">Cadastros</label>
        </div>
        <a class="button_select"></a>
    </div>

    <div class="content">
        <div class="grid__3 card__grid__list"></div>
    </div>
{% endblock app %}

{% block script %}
    <script src="/static/js/aluno/aluno_listagem.js"></script>
{% endblock script %}