<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Semear</title>
</head>
<body>
    <div class="grid__2">
        <div class="home__content">
            <h1>
                Semear
            </h1>
            <p class="sub">Plantando esperança,<br>Colhendo cidadania</p>
            <br><br><br>

            <a href="/login/">
                <button class="main__button">Acessar como interno</button>
            </a>

            <div class="is__line"></div>
            
            
            <center style="margin-top:17vw">
                <i onclick="jumpScroll()" class="fas fa-arrow-down"></i>
            </center><br><br>
            

            <h3>Atuais oficinas</h3>
            <div class="content">
                <div class="grid__2 card__grid__list"></div>
            </div>
        </div>
        
        <div class="base_img_index">
            <div class="yellow_image"></div>
        </div>
    </div>
    <script src="/static/js/listagem_oficinas.js"></script>
</body>
</html>