<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Semear | login</title>
</head>
<body>
    <div class="login__main">
        <div class="is__line"></div>

        <h1>Login</h1>
        <p class="sub">Semear interno</p>

        <form method="post">
            <br>
            <br>
            <div class="input__hero">
                <input class="input" placeholder=" " type="text" id="user">
                <label for="user">Usuário</label>
            </div>
            <div class="input__hero">
                <input class="input" placeholder=" " type="password" name="" id="password">
                <label for="password">Senha</label>
            </div>
            <p id="error" class="red__text"></p>
            <br>
            <button class="main__button" type="button" id="make__login">
                Entrar
            </button>
        </form>
        <br>
    </div>

    <script src="/static/js/login.js"></script>
</body>
</html>
