{% extends 'base.html' %}

{% block app %}
    <div class="tales">
        <h1>Orientador</h1>
        <br>
        <div class="actions">
            <div></div>
        </div>
    </div>
    <div class="content">
        <form>
            <div class="grid__2">
                <div class="input__hero">
                    <input id="nome" class="input" placeholder=" ">
                    <label for="nome">Nome</label>
                </div>
                <div class="input__hero">
                    <input id="username" class="input" placeholder=" ">
                    <label for="username">Usuário</label>
                </div>
            </div>
            <div class="grid__2">
                <div class="input__hero">
                    <input id="cpf" class="input" placeholder=" ">
                    <label for="cpf">CPF</label>
                </div>
                <div class="input__hero">
                    <input type="date" id="dtnasc" class="input" placeholder=" ">
                    <label for="dtnasc">Data Nascimento</label>
                </div>
            </div>
            <div class="grid__2">
                <div class="input__hero">
                    <input type="number" id="cep" class="input" placeholder=" ">
                    <label for="cep">Cep</label>
                </div>
                <div class="input__hero">
                    <input id="endereco" class="input" placeholder=" ">
                    <label for="endereço">Endereço</label>
                </div>
            </div>
            <div class="grid__2">
                <div class="input__hero">
                    <input id="cidade" class="input" placeholder=" ">
                    <label for="cidade">Cidade</label>
                </div>
                <div class="input__hero">
                    <input type="number" id="numero" class="input" placeholder=" ">
                    <label for="numero">Número</label>
                </div>
            </div>
            <div class="grid__2">
                <div class="input__hero">
                    <select id="uf" class="input" placeholder=" ">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                        <option value="DF">Distrito Federal</option>
                    </select>
                    <label for="uf">UF</label>
                </div>
                <div class="input__hero">
                    <input id="bairro" class="input" placeholder=" ">
                    <label for="bairro">Bairro</label>
                </div>
            </div>
            <div class="grid__2">
                <div class="input__hero">
                    <input type="checkbox" id="voluntario" class="input" placeholder=" ">
                    <label for="voluntario">Voluntário</label>
                </div>
                <div class="input__hero">
                    <input type="password" id="senha" class="input" placeholder=" ">
                    <label for="senha">Senha</label>
                </div>
            </div>
            <br>
            <p id="error" class="red__text">
                
            </p>
            <button class="main__button" type="button" id="create">
                Criar
            </button>
        </form>
    </div>
{% endblock app %}

{% block script %}
    <script src="/static/js/orientador/orientador_create.js"></script> 
{% endblock script %}